you can get data from 'https://www.data.gov', 'https://www.kaggle.com/',

In [ ]:
! pip install pandas

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("bestsellers.csv")

In [ ]:
data

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
data.head()  # print first 5 rows
data.head(10)

In [ ]:
data.tail()  # prints last  5 rows
data.tail(10)

In [ ]:
data.describe()  # only shows numerical comlumns data

In [ ]:
data.info()

In [ ]:
data.sample(10)

dataframe is "2D, size mutable, potentially heterogeneous tablubar data structure with labeled axes"

In [ ]:
data["Name"]

In [ ]:
tab = pd.read_csv("movie_titles.tsv", sep="\t")

In [ ]:
tab

In [ ]:
# data.options.display.max_rows = 100 # to change how much it shows on the display
net = pd.read_csv("netflix_titles.csv", sep="|", index_col=0)
# net.head()
net["type"].unique()  # unique data
net["type"].nunique()  # number of unique

In [ ]:
net.info()

In [ ]:
net.dropna(inplace=True)
net.info()

In [ ]:
net.isna().sum()

In [ ]:
net.to_csv("cleaned_netflix.csv", index=False)

In [ ]:
bs = pd.read_csv("bestsellers.csv")

In [ ]:
bs["User Rating"].nsmallest(1)

In [ ]:
bs[bs["User Rating"] == 4.9]

In [ ]:
bs["User Rating"].nlargest(1)

In [ ]:
bs["User Rating"].value_counts()

In [ ]:
bs.sum(numeric_only=True)

In [ ]:
bs.min(numeric_only=True)
bs.max(numeric_only=True)

In [ ]:
bs.mean()  # average value
bs.median()  # central value
bs.mode()  # mode frequent value

Next are from ML roadmaps content

In [ ]:
# Series -> 1 column of data

data = [100, 102, 204, 200, 2002]

my_series = pd.Series(data, index=["a", "b", "c", "d", "e"])

print(my_series.loc["a"])  # select by location label

my_series.loc["b"] = 300

print(my_series.loc["b"])  # select by location label

print(my_series.iloc[0])  # select by location index

print(my_series[my_series < 200])

In [ ]:
data = {"Day-1": 1800, "Day-2": 2200, "Day-3": 1600}

my_series = pd.Series(data)

my_series["Day-1"] += 500

print(my_series)

In [ ]:
# DataFrame 2D table

data = {"Name": ["Jamal", "Ali", "Hamza"], "Age": [30, 35, 50]}

df = pd.DataFrame(data, index=["Employee 1", "Employee 2", "Employee 3"])


df["Job"] = ["Pragrammer", "DevOps", "Cloud Engineer"]  # add a new column

new_row = pd.DataFrame(
    [
        {"Name": "Abdul Rehman", "Age": 25, "Job": "AI Engineer"},
        {"Name": "Hassan", "Age": 25, "Job": "ML Engineer"},
    ],
    index=["Employee 4", "Employee 5"],
)

df = pd.concat([df, new_row])  # add a new row

print(df)


# print(df.loc["Employee 1"])

# print(df.iloc[1])

In [ ]:
# Importing JSON

df = pd.read_json("test_data.json")

print(df)

In [ ]:
# Secltion

df = pd.read_csv(
    "netflix_titles.csv",
    sep="|",
    index_col="index",
)


# By Column ->

# print(df[["title", "release_year", "rating"]].to_string())


# -------------

# By Row ->

# selected_columns = df.loc[

#     # df["rating"] == "PG", # Filtering where Rating is PG
#     (df["rating"] == "PG") & (df["release_year"] == 2000), # Filtering using &. We didn't use 'and' because Pandas and NumPy has C Array on the backend


# #     0:20:2, # from 0 to 20 records

#     ["title", "release_year", "rating"],
# ]

# print(selected_columns.to_string())


# -------------

In [ ]:
# Aggregation Functions -> Reduce a set of values into a single value

df = pd.read_csv(
    "netflix_titles.csv",
    sep="|",
    index_col="index",
)

# Whole DataFrame
# print(df.mean(numeric_only=True))
# print(df.sum(numeric_only=True))
# print(df.min(numeric_only=True))
# print(df.max(numeric_only=True))
# print(df.count(numeric_only=True))

# For Single Column
# print(df['release_year'].mean())
# print(df['release_year'].sum())
# print(df['release_year'].min())
# print(df['release_year'].max())
# print(df['release_year'].count())

group = df.groupby("type")

print(group["release_year"].count())

In [ ]:
# Data Cleaning

df = pd.read_csv(
    "netflix_titles.csv",
    sep="|",
    index_col="index",
)


# 1. Drop irrelevant column
# df = df.drop(columns=["type", "title"])

# 2. Handle missing data 
# df = df.dropna(subset="cast") # will drop rows
# df = df.fillna({"type": "None"})

# 3. fix inconsistent values
# df = df['type'].replace({'Movie': "MOVIE", 'TV Show': 'TV SHOW'})

# 4. Standardize Text
# df['type'] = df['type'].str.lower()

# 5. Fix and Change DataTypes
# df['type'] = df["type"].astype(bool)

# 6. Remove Duplicate Values
# df = df.drop_duplicates()


df

In [ ]:
# Plot

import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('correlation.csv')

# df.plot(kind='scatter', x='Duration', y='Calories')
df['Duration'].plot(kind='hist')

plt.show()